*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html,body{
	width:100%;
	height:100%;

}
body{
	background:url(../images/page_bg.jpg) no-repeat center center;
	background-size:cover;
	background-attachment: fixed;
	padding-top:80px;
}
/***************************【公共样式设定】******************************************/

a{
	text-decoration:none;
}
ul{
	list-style:none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none;
	outline-offset: 0px;
}
/* 模态框[课程介绍]文字颜色 */
.text-muted{
	color:#ce8236;
}
/**********************************模态框区域******************************************/
#conList>li>span{
	display:inline-block;
	width:26px;
}

/**********************************头部区域******************************************/

/*设定整体导航栏样式*/
.navbar>.container-fluid{
	background: #000;
	box-shadow:0px 1px 2px #dd706b;
	height:80px;
}
/*设定LOGO图标*/
.navbar-brand{
	width:121px;
	height:80px;
}
.navbar-brand>img{
    width:100%;
    height:auto;
    margin:0px 0 0 10px;
}
/*设定【整体导航列表】*/
.navbar-nav{
   /*在PC端时，微调外边距调整列表【上、下】位置*/
   margin:20px 30px 0 0;

}
/*设定整体导航列表】的导航列表样式---默认【default】主题样式*/
.navbar-default .navbar-nav>li>a{
	font-size:16px;
   color:#eee;
}
.navbar-default .navbar-nav>li>a:hover{
    	color:#dd706b;
}
/*【移动端】---当【width<=768px】时设定*/
@media (max-width: 768px){

    /*【整体导航栏】是由【navbar-header】组成的*/
	.navbar-header{
		background:#000;
		/*padding:15px 0;*/
	}
    /*【下拉栏】是由【navbar-collapse】组成的*/
	.navbar-collapse{
		background:rgba(0,0,0,0.6);
	}
	/*【下拉栏】的【整体导航列表】*/
	.navbar-nav{
	   /*矫正在PC端时，外边距调整列表【上、下】位置*/
	   margin-top:0px;
	}
	/*设定【下拉栏】的【导航列表】*/
	.navbar-nav>li{
      text-indent:10px;
	}
    /*设定【下拉栏】的【导航列表】的【超链接a】样式---默认【default】主题样式*/
    .navbar-default .navbar-nav>li>a{
    	color:#eee;
    }
    .navbar-default .navbar-nav>li>a:hover{
    	color:#dd706b;
    }
	/*设定缩略图按钮--默认【default】主题样式*/
	.navbar-default .navbar-toggle{
      margin:25px 30px 0 0;
	}
	/*设定缩略图按钮--【鼠标移入，点击选中】样式*/
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
      background:#dd706b;
      color:#fff;
	}
	/*设定缩略图按钮竖杠*/
	.navbar-default .navbar-toggle .icon-bar{
     background:#fff;

	}

}


/**********************************内容区域******************************************/
.container-fluid{
	position:relative;
	z-index:0;

    /*修订【全屏状态】下，系统默认左右内边据为15px*/
	padding-left:0px;
	padding-right:0px;
}


/*==============首页轮播图================*/
.container-fluid .banner .item:nth-child(1){
  background:#063ace;
}
.container-fluid .banner .item:nth-child(2){
  background:#050036;
}
.container-fluid .banner .item:nth-child(3){
  background:#140026;
}

.container-fluid .banner .item img{
   margin:0 auto;
}


/*课程列表*/
#course_list>h1{
	font-size:20px; 
	color:#dd706b; 
}
#course_list>h1>small{
   color:#cac4c4;
}
.course_list_content{
   width:100%;
   margin:30px 0;
   font-size:0;
}
.course_list_content>div{
   display:inline-block;
   width:12.5%;
   height:100px;
   background:#000;
   margin:0 0 10px 0;
   box-sizing:border-box;
   border-right:1px solid #666;
   vertical-align:top;
 
}
.course_list_content>div:nth-child(8){
	border-right:none;
}
.course_list_content>div>dl{
	width:100%;
	height:100%;
}
.course_list_content>div>dl>a{
        display:block;
        width:100%;
		height:100%;
	}
.course_list_content>div>dl>a>dt{
	width:80%;
	height:50px;
	margin:5px auto;
	text-align:center;
	text-decoration:none;
}
.course_list_content>div>dl>a>dt>img{
	width:40%;
	height:auto;
	text-decoration:none;
}
.course_list_content>div>dl>a>dd{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#fff;

	text-decoration:none;
}
/*新手课程列表*/
/*消除巨幕左右内边距空隙*/
.container .jumbotron, .container-fluid .jumbotron{
	padding:10px;
}
/*设定巨幕的样式*/
.newCross{
	background: #000;
	color:#fff;

}
.newCross h3{
	border-bottom:1px solid #fff;
	margin:0px auto 20px;
	padding:20px 0;
	color:#fff;
}
.newCross h3.title{
	border-bottom:1px solid #fff;
	margin:0px auto 20px;
	padding:20px 0;
	color:#333;
}
.newCross p{
	color:#333;
}
/*缩略图列表*/
.thumbnail{
	background: #eee;
	color:#fff;
	padding:1px;
	border-radius:6px;
	overflow:hidden;
	transition:all .6s ease;
}
.thumbnail .img_mian{
	overflow:hidden;
}
.thumbnail .img_mian img{
	transition:all 1s ease;
}


/*【移动端】设定*/
@media (max-width:768px){

     /*课程列表*/
	.course_list_content{
	   width:100%;
	   margin:30px 0;
	   font-size:0;
	}
	.course_list_content>div{
	   display:inline-block;
	   width:49%;
	   height:100px;
	   background:#000;
	   margin:0 0 10px 0;
	   box-sizing:border-box;
	   border-right:1px solid #000;
	   vertical-align:top;
	 
	}
	.course_list_content>div:nth-child(2n){
		border-right:none;
		margin-left:2%;
	}

	.course_list_content>div>dl{
		width:100%;
		height:100%;
	}
	.course_list_content>div>dl>a{
         display:block;
        width:100%;
		height:100%;
	}
	.course_list_content>div>dl>a>dt{
		width:80%;
		height:50px;
		margin:10px auto 5px;
		text-align:center;

	}
	.course_list_content>div>dl>a>dt>img{
		width:18%;
		height:auto;
		margin:10px auto 0px;
	}
	.course_list_content>div>dl>a>dd{
		width:100%;
		height:30px;
		line-height:30px;
		text-align:center;
		font-size:14px;
		color:#fff;
	}
   /*从【入门】到【精通】课程列表*/
    .newke{
		
	}
   /*【快速成为高手】课程列表*/
	.newCross{
		   
	}


}
/*【iPad端】设定*/
@media (min-width:768px) and (max-width:1024px){
	/*从【入门】到【精通】课程列表*/
   .newke h3.title{
   	  font-size:22px;
   }
   /*【快速成为高手】课程列表*/
   .newCross h3.title{
	   font-size:22px;
   }
}